define([], function(){

	var c = {
		AWS : {
      identityPoolId: '<identityPoolId>',
      region: '<aws_region>',
      s3Bucket : '<s3_bucket_name>'

		},
    defaultCameraId : '<defaultCameraId>',
    defaultCameraName : '<defaultCameraName>',
		durationBtwSnap : 5400
	};
	return c;
});
