
.row {
    text-align: center;
    font-size: 16px;
}

.cpnt-panel {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border: 2px solid;
}

.header {
    background-color: black;
    color: white;
    border: 2px solid;
}

.camera {
    height: 500px;
    background-color: rgba(86,61,124,.15);
}

.control {
    background-color: rgba(86,61,124,.15);
}
